################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SQLPSX/v14/.suo
/SQLPSX.sln
/SQLPSX.pssproj
/SQLPSX.pssproj.user
