<?xml version="1.0" encoding="utf-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="adoLib">
            <ComponentRef Id="adoLib.psm1" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="adoLib">
            <Component Id="adoLib.psm1" Guid="*">
                <File Id="adoLib.psm1" KeyPath="yes" Source="$(var.adoLib)\adoLib.psm1" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>