<?xml version="1.0" encoding="utf-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>
<!--
      NEVER change the UPGRADE code. ALWAYS change the Id.
      Version 2.2.3.1       Product Id was: E708DE54-4067-4727-A6CC-83D9D5A61B1F
      Version 2.2.3.2       Product Id was: 16F395EE-FA14-4BAE-A0E8-DC773BD422B3
      Version 2.3.0.0       Product Id was: 66A59D8B-0A17-4063-A1B1-DBBE66C6D094
      Version 2.3.1.0       Product Id was: 88860FA9-A4FF-4A62-BA19-8F01842D0684
      Version 2.3.2.0       Product Id was: F64E4208-905E-4C25-A044-5962159B0682
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="F64E4208-905E-4C25-A044-5962159B0682" Name="SQLPSX" Language="1033" Version="$(var.MajorVersion).$(var.MinorVersion).$(var.MicroVersion).$(var.BuildVersion)" Manufacturer="SQLPSX" UpgradeCode="F52E6F67-79FE-4115-81B1-B441ECD9ABCF">
        <Package Description="SQLPSX Installer" InstallPrivileges="elevated" Comments="SQLPSX Installer" InstallerVersion="200" Compressed="yes" />
        <Upgrade Id="F52E6F67-79FE-4115-81B1-B441ECD9ABCF">
          <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
            Minimum="1.0.0" IncludeMinimum="yes"
            Maximum="$(var.MajorVersion).$(var.MinorVersion).$(var.MicroVersion).$(var.BuildVersion)" IncludeMaximum="no" />
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallInitialize"/>
        </InstallExecuteSequence>
        <Media Id="1" Cabinet="SQLPSXInstaller.cab" EmbedCab="yes" />
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="PersonalFolder" Name="PersonalFolder">
                <Directory Name="WindowsPowerShell" Id="WindowsPowerShell">
                    <Directory Name="Modules" Id="INSTALLDIR">
                        <Directory Id="adoLib" Name="adoLib">
                        </Directory>
                        <Directory Id="Agent" Name="Agent">
                        </Directory>
                        <Directory Id="ISECreamBasic" Name="ISECreamBasic">
                        </Directory>
                        <Directory Id="mySQLLib" Name="mySQLLib">
                        </Directory>
                        <Directory Id="OracleClient" Name="OracleClient">
                        </Directory>
                        <Directory Id="OracleIse" Name="OracleIse">
                        </Directory>
                        <Directory Id="PBM" Name="PBM">
                        </Directory>
                        <Directory Id="PerfCounters" Name="PerfCounters">
                        </Directory>
                        <Directory Id="Repl" Name="Repl">
                        </Directory>
                        <Directory Id="ShowMbrs" Name="ShowMbrs">
                        </Directory>
                        <Directory Id="SQLIse" Name="SQLIse">
                        </Directory>
                        <Directory Id="SQLMaint" Name="SQLMaint">
                        </Directory>
                        <Directory Id="SQLParser" Name="SQLParser">
                        </Directory>
                        <Directory Id="SQLProfiler" Name="SQLProfiler">
                        </Directory>
                        <Directory Id="SQLPSX" Name="SQLPSX">
                        </Directory>
                        <Directory Id="SQLServer" Name="SQLServer">
                        </Directory>
                        <Directory Id="SSIS" Name="SSIS">
                        </Directory>
                        <Directory Id="WPK" Name="WPK">
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Property Id="ARPHELPLINK" Value="http://sqlpsx.codeplex.com/Thread/List.aspx" />
        <Property Id="ARPURLINFOABOUT" Value="http://sqlpsx.codeplex.com" />
        <Feature Id="Module" Title="SQLPSX" Level="1" ConfigurableDirectory='INSTALLDIR'>
            <ComponentGroupRef Id="adoLib" />
            <ComponentGroupRef Id="Agent" />
            <ComponentGroupRef Id="ISECreamBasic" />
            <ComponentGroupRef Id="mySQLLib" />
            <ComponentGroupRef Id="OracleClient" />
            <ComponentGroupRef Id="OracleIse" />
            <ComponentGroupRef Id="PBM" />
            <ComponentGroupRef Id="PerfCounters" />
            <ComponentGroupRef Id="Repl" />
            <ComponentGroupRef Id="ShowMbrs" />
            <ComponentGroupRef Id="SQLIse" />
            <ComponentGroupRef Id="SQLMaint" />
            <ComponentGroupRef Id="SQLParser" />
            <ComponentGroupRef Id="SQLProfiler" />
            <ComponentGroupRef Id="SQLPSX" />
            <ComponentGroupRef Id="SQLServer" />
            <ComponentGroupRef Id="SSIS" />
            <ComponentGroupRef Id="WPK" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    </Product>
</Wix>
